.sidebar {
    width: 250px;
    height: 100%;
    position: static; 
    z-index: 2; 
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; 
}
  
/* The navigation menu links */
.sidebar a {
    padding: 6px 8px 6px;
    text-decoration: none;
    color: #808080;
    display: block;
}
  
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
  }
  
.sidebar_footer{
    margin-top: 350px;
    margin-bottom: 10px;
}

#help{
    display: inline-block;
}

#trash_bin{
    display: block;
    float: right;
    margin-right: 10%;
}

.sidebar ul li a {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar hr{
    margin-top: 50%;
    border-color: #000000;
    margin-left: 0;
}
