.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    left: 0;
    background-color: #000000;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    overflow-x: hidden;
}
  
/* The navigation menu links */
.sidebar li, .sidebar a{
    padding: 6px 8px 0 20px;
    text-decoration: none;
    color: #808080;
    display: block;
}
    
/* When you mouse over the navigation links, change their color */
.sidebar li :hover, a :hover{
    color: #f1f1f1;
  }
  
.sidebar_footer{
    bottom: 0;
    order: 3;
}

.sidebar ul li, .sidebar ul a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 70px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar hr{
    margin-top: 80%;
    border-color: #000000;
    margin-left: 0;
}

.sidebar_options{
    order: 2;
    flex-basis: 250px;
}

.new_file_option{
    order: 1;
}

/* Pop-up and overlay styling */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;  /* Initially hidden */
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: #000000;
}

/*FORMS + pop-ups*/
/* When checkbox is checked, show popup */
.popup-checkbox:checked ~ .popup-overlay {
    display: flex;
}

.popup-form {
    background: #fff;
    padding: 10px;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    height: 500px;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
    color: #888;
}
