@import "nav_bar.css";
@import "sidebar.css";
/*@import "tables.css";*/

*{
    list-style: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

body{
    color: #FFFFFF;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 100px;
    --sidebar-width: 270px;
  }

#background_photo{
    z-index: -1;
    filter: blur(8px);
    position: fixed;
}

.sidelines_container{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9;
}

.main_container{
    display: flex;
    flex-direction: row;
    position: static;
    z-index: 1;
    padding-top: var(--navbar-height);
    /*padding-left: var(--sidebar-width);*/
    z-index: 20;
}

.main_container main{
    margin-left: var(--sidebar-width);
}

.title_section{
    display: flex;
    width: 800px;
    height: 150px;
    align-items: center;
    flex-direction: row;
    margin: 0;
    gap: 10px;
}

/*located in both main.html and lessons.html*/
/*This is  the header "Course" that is seen at the top left*/
.main_course_title{
    margin: 0px 10px 10px 60px;
    font-size: 50px;
    flex-grow: 200px;
    font-family: serif;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.title_course_name{
    font-family: serif;
    color: #FFFFFF;
}

.filter_button:hover{
    background-color: #ababab;
}

.course_title_container{
    background-image: linear-gradient(to right, #2E2D2D, #8F8A8A);
    border: 4px solid;
    border-color: #B8B8B8;
    height: 120px;
    width: 100%;
    margin-left: 70px;
    margin-top: 15px;
    position: relative;
}

.course_title{
    text-align: left;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
